

/** definindo seletores ****/



body
{
 font-family: Adobe Fangsong Std R;
 background-image: linear-gradient( 
rgb(5, 5, 3),
rgb(92, 23, 23),
rgb(7, 57, 80)


 );
}

h3{
 font-family: Adobe Fangsong Std R;
color: rgb(0, 0, 0);
}
Img{
 border-radius: 120%;
 width: 360px;
height: 300px;
}