

/** definindo seletores ****/



body
{
 font-family: Adobe Fangsong Std R;
 background-image: url(CheiaSol.jpg)    
}


h2{
 font-family: Adobe Fangsong Std R;
color:brown;
}

h3:hover{

rotate:135deg;
transform:0.10;
}
